@import "tailwindcss";

@theme {
  /* AGRICULTURE-INSPIRED THEME */
  --color-sacco-dark: #2e632b;    /* Deep Forest Green (Trust & Stability) */
  --color-sacco-light: #49a146;   /* Agriculture Green (Growth & Crops) This is my main theme*/
  --color-sacco-accent: #fef100;  /* Harvest Yellow (Energy & Opportunity) */
  --color-sacco-earth: #92400e;   /* Earth Brown (Nurturing & Stability) */
}

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}